<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150899782-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-150899782-1');
	</script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" sizes="192x192" href="/images/icon.png">
	<link rel="icon" sizes="32x32" href="/images/icon32x32.png">
	<link rel="icon" sizes="16x16" href="/images/icon16x16.png">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	
		{% block meta %}
 	<title>Tienda Online de Articulos Hypebeast</title>
	<meta name="description" content="En esta tienda encontrarás toda la ropa, zapatos y accesorios Hypebeast.">
	<meta name="keywords" content="">

	<meta property="og:url" content="https://hypebeast.pro/" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Tienda Online de Articulos Hypebeast" />
	<meta property="og:description" content="En esta tienda encontrarás toda la ropa, zapatos y accesorios Hypebeast." />
	<meta property="og:image" content="https://hypebeast.pro/images/hypebeast.jpg" />

    <meta name="twitter:card"  content="summary">
    <meta name="twitter:url" content="https://hypebeast.pro">
    <meta name="twitter:title" content="Tienda Online de Articulos Hypebeast">
    <meta name="twitter:description" content="En esta tienda encontrarás toda la ropa, zapatos y accesorios Hypebeast.">
    <meta name="twitter:image" content="https://hypebeast.pro/images/hypebeast.jpg">

	{% endblock %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css"
</head>
<body>
	{% include "partials/top.njk" %}

	{% block content %}
	{% endblock %}


	{% include "partials/footer.njk" %}

	<script src="/js/main.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
</body>
</html>