---
pagination:
  data: categorias
  size: 1
  alias: categoria
permalink: /{{ categoria.nombre | slug }}/index.html
---

{% extends "layouts/default.njk" %}

{% block content %}

    <section class="categorias-intro texto">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>{{ categoria.nombre }}</h1>
                </div>
                <div class="col text-center">
                    <p>{{ categoria.descripcion }}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="categorias-n2">
        <div class="container">
            <div class="row">

                        {% for subcategoria in subcategorias %}
                        {% if (subcategoria.id.slice(0,2)) == categoria.id %}
                        <div class="col-12 col-md-6 col-lg-4 text-center subcategoria">
                            <a href="/{{ subcategoria.nombre | slug }}"><img src="{{ subcategoria.img }}" alt="marcas"></a>
                            <h2>{{subcategoria.nombre}}</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, eaque?</p>
                        </div>
                        {% endif %}            
                        {% endfor %}
            </div>
        </div>
    </section>

    <section class="texto texto-seo">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>¿Que se diferencian estas marcas otras?</h2>
                </div>
                <div class="col text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio totam eos explicabo sunt, incidunt, perspiciatis eum magni dolorum porro nemo, inventore atque quibusdam fugit consequatur accusantium temporibus impedit dolor nihil dicta? Suscipit obcaecati itaque omnis praesentium corrupti doloremque temporibus iusto.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h2>¿Porque no es recomendable comprar ropa falsa?</h2>
                </div>
                <div class="col text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio totam eos explicabo sunt, incidunt, perspiciatis eum magni dolorum porro nemo, inventore atque quibusdam fugit consequatur accusantium temporibus impedit dolor nihil dicta? Suscipit obcaecati itaque omnis praesentium corrupti doloremque temporibus iusto.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="categorias">
       <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3>Mira también nuestros artículos HypeBeast</h3>
            </div>
        </div>
        <div class="row">

       {% for categoria in categorias %} 
            {% if categoria.nombre != "Marcas HypeBeast" %}
                <div class="col-12 col-md-6 col-lg-4 text-center categoria">
                    <a href="/{{categoria.nombre | slug}}"><img src="http://ximg.es/150x150/000/fff" alt="marcas"></a>
                    <h2>{{categoria.nombre}}</h2>
                </div>
            {% endif %}
        {% endfor %}
    
        </div>
    </div> 
    </section>
{% endblock %}
