---
pagination:
  data: categorias
  size: 1
  alias: categoria
permalink: /{{ categoria.name | slug }}/index.html
---

{% extends "layouts/default.njk" %}
{% block meta %}
 	<title>{{ categoria.title }}</title>
	<meta name="description" content="{{categoria.descripcion}}">
	<meta name="keywords" content="">

	<meta property="og:url" content="https://hypebeast.pro/{{ categoria.name | slug}}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ categoria.seo.title }}" />
	<meta property="og:description" content="{{ categoria.seo.description }}" />
	<meta property="og:image" content="https://hypebeast.pro{{ categoria.image.url }}" />

    <meta name="twitter:card"  content="summary">
    <meta name="twitter:url" content="https://hypebeast.pro/{{ categoria.name | slug}}">
    <meta name="twitter:title" content="{{ categoria.title }}">
    <meta name="twitter:description" content="{{ categoria.seo.description }}">
    <meta name="twitter:image" content="https://hypebeast.pro{{ categoria.image.url }}">
{% endblock %}
{% block content %}

    <section class="categorias-intro texto">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>{{ categoria.name }}</h1>
                </div>
                <div class="col text-center texto">
                    {{ categoria.description | safe }}
                </div>
            </div>
        </div>
    </section>

    <section class="categorias-n2">
        <div class="container">
            <div class="row">
                {% for subcategoria in subcategorias %}
                    {% if subcategoria.category.name  == categoria.name %}
                        <div class="col-12 col-md-6 col-lg-4 text-center subcategoria">
                            <a href="/{{ categoria.name | slug }}/{{ subcategoria.name | slug }}"><img src="{{ subcategoria.image.url }}" alt="{{subcategoria.name}}"></a>
                            <h2>{{subcategoria.name}}</h2>
                            {{subcategoria.intro | safe }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    {# <section class="texto texto-seo">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>¿Que se diferencian estas marcas otras?</h2>
                </div>
                <div class="col text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio totam eos explicabo sunt, incidunt, perspiciatis eum magni dolorum porro nemo, inventore atque quibusdam fugit consequatur accusantium temporibus impedit dolor nihil dicta? Suscipit obcaecati itaque omnis praesentium corrupti doloremque temporibus iusto.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h2>¿Porque no es recomendable comprar ropa falsa?</h2>
                </div>
                <div class="col text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio totam eos explicabo sunt, incidunt, perspiciatis eum magni dolorum porro nemo, inventore atque quibusdam fugit consequatur accusantium temporibus impedit dolor nihil dicta? Suscipit obcaecati itaque omnis praesentium corrupti doloremque temporibus iusto.</p>
                </div>
            </div>
        </div>
    </section> #}
    <section class="categorias">
       <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3>Mira también nuestros artículos HypeBeast</h3>
            </div>
        </div>
        <div class="row">
          
            {% for item in categorias %} 
                {% if item.nombre !=  categoria.nombre %}
                <div class="col-12 col-md-6 col-lg-4 text-center categoria-footer">
                    <a href="/{{item.name | slug}}"><img src="{{item.image.url}}" alt="{{item.name}}"></a>
                    <h2>{{item.name}}</h2>
                </div>                
                {% endif %}
            {% endfor %}
               
        </div>
    </div> 
    </section>
{% endblock %}
