---
title: HypeBeast
---

{% extends "layouts/default.njk" %}

{% block content %}
	<section class="home-intro">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Tienda Online Artículos HypeBeast</h1>
                </div>
                <div class=" texto col text-center">
                    <p>Eres de una de esas personas a las que le gusta vestir con estilo y que no te compras lo primero que ves, por eso aquí te traemos la mejor selección de <strong>hypebeast 2019 100% original</strong> con envíos rápidos y sencillos por Amazon.</p>
                </div>
            </div>
        </div>
	</section>
    <section class="categorias">
        <div class="container">
            <div class="row">
                {% for categoria in categorias %}
                    <div class="col-12 col-md-6 col-lg-6 text-center categoria">
                        <a href="/{{ categoria.nombre | slug }}"><img src="{{ categoria.img }}" alt="{{ categoria.nombre }}"></a>
                        <h3>{{ categoria.nombre }}</h3>
                        <p>{{ categoria.intro }}</p>
                    </div>                    
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="texto-seo">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>HypeBeast, la moda para gente con estilo</h2>
                </div>
                <div class="col texto text-center">
                    <p>Para nosotros el <strong>hypebeast</strong> es la persona amante de la <strong>ropa streetwear</strong>, donde expresa su estilo y personalidad a través de la forma de vestir diferentes prendas. Por eso en esta gran familia que cada vez se hace más grande y somos más los apasionados al hypebeast en España no podía faltar una <strong>tienda online de ropa y zapatillas streetwear</strong> como la nuestra donde podemos encontrar con facilidad las prendas más hype del mercado.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
