---
pagination:
  data: subcategorias
  size: 1
  alias: subcategoria
permalink: /{{ subcategoria.id | getCategoria | slug }}/{{ subcategoria.nombre | slug }}/index.html
---

{% extends "layouts/default.njk" %}
    {% block meta %}
 	<title>{{ subcategoria.title }}</title>
	<meta name="description" content="En esta tienda encontrarás toda la ropa, zapatos y complementos Hypebeast.">
	<meta name="keywords" content="">

	<meta property="og:url" content="https://hypebeast.pro/{{ subcategoria.id | getCategoria | slug }}/{{ subcategoria.nombre | slug }}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ subcategoria.title }}" />
	<meta property="og:description" content="{{ subcategoria.descripcion }}" />
	<meta property="og:image" content="https://hypebeast.pro{{ subcategoria.img }}" />

    <meta name="twitter:card"  content="summary">
    <meta name="twitter:url" content="https://hypebeast.pro/{{ subcategoria.nombre | slug}}">
    <meta name="twitter:title" content="{{ subcategoria.title }}">
    <meta name="twitter:description" content="{{ subcategoria.descripcion }}">
    <meta name="twitter:image" content="https://hypebeast.pro{{ subcategoria.img }}">
        
    {% endblock %}
{% block content %}
    <section class="categorias-n2-intro">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>{{ subcategoria.nombre }}</h1>
                </div>
                <div class="col text-center texto">
                    <p>{{subcategoria.descripcion}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="productos">
        <div class="container">
            <div class="row">
                {% for producto in productos %}
                    {% for sub in producto.subcategorias %}
                        {% if sub == subcategoria.id %}
                            <div class="col-12 col-md-6 col-lg-4 text-center mb-5">
                                <article class="producto">
                                    <a href="{{producto.enlace}}" target="_blank">
                                        <img src= "{{ producto.img }}" alt="{{producto.nombre}}">
                                    </a>
                                    <h2>{{ producto.nombre }}</h2>
                                    <h5>{{ producto.precio }}€</h5>
                                    <button  type="button" class="btn btn-warning"><a class="comprar" href="{{producto.enlace}}" target="_blank">Comprar</a></button>
                                </article>
                            </div>
                        {% endif %}               
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>

    {# <section class="texto-seo">
        <div class="container">
            <div class="row texto">
                <div class="col-12 text-center">
                    <h2>¿Que se diferencian estas marcas otras?</h2>
                </div>
                <div class="col text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio totam eos explicabo sunt, incidunt, perspiciatis eum magni dolorum porro nemo, inventore atque quibusdam fugit consequatur accusantium temporibus impedit dolor nihil dicta? Suscipit obcaecati itaque omnis praesentium corrupti doloremque temporibus iusto.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h2>¿Porque no es recomendable comprar ropa falsa?</h2>
                </div>
                <div class="col text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio totam eos explicabo sunt, incidunt, perspiciatis eum magni dolorum porro nemo, inventore atque quibusdam fugit consequatur accusantium temporibus impedit dolor nihil dicta? Suscipit obcaecati itaque omnis praesentium corrupti doloremque temporibus iusto.</p>
                </div>
            </div>
        </div>
    </section> #}
    <section class="categorias">
       <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3>Mira también nuestros artículos HypeBeast</h3>
            </div>
        </div>
        <div class="row">
       {% for categoria in categorias %} 
                <div class="col-6 col-lg-3 text-center categoria-footer">
                    <a href="/{{categoria.nombre | slug}}"><img src="{{categoria.img}}" alt="marcas"></a>
                    <h2>{{categoria.nombre}}</h2>
                </div>
        {% endfor %}
        </div>
    </div> 
    </section>
{% endblock %}
