<footer class="footer">
    <div class="container">
        <div class="row avisos">
            <div class="col text-center">
                <a class="dark-grey-text" href="/aviso-legal">Aviso Legal</a>                 
            </div>
            <div class="col text-center">
                    <a class="dark-grey-text" href="/politica-de-privacidad">Política de Privacidad</a>                 
                </div>
            <div class="col text-center">
                <a class="dark-grey-text" href="/politica-de-cookies">Política de Cookies</a>                 
            </div>
        </div>
        <div class="row copyright">
            <div class="col-12 text-center">
                © 2019 Copyright:<a class="dark-grey-text" href="#">Hypebeast</a>                 
            </div>
        </div>
    </div>
</footer>