<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <a class="dark-grey-text" href="#">Aviso Legal</a>                 
            </div>
            <div class="col text-center">
                    <a class="dark-grey-text" href="#">Política de Privacidad</a>                 
                </div>
            <div class="col text-center">
                <a class="dark-grey-text" href="#">Política de Cookies</a>                 
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                © 2019 Copyright:<a class="dark-grey-text" href="#">Hypebeast</a>                 
            </div>
        </div>
    </div>
</footer>