<section class="top">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col text-center p-0">
                <div class="top-logo">
                        <a href="/"><img src="/images/hypebeast.png" alt="Logo"></a>
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="col text-center p-0">
                <div class="top-menu">
                    <nav class="navbar navbar-expand-sm navbar-light" data-toggle="affix">
                        <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse text-center text-uppercase" id="navbarsExample11">
                                <ul class="navbar-nav">

                                        {% for categoria in categorias %}
                                        <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="/{{categoria.nombre | slug}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{ categoria.nombre }}
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    {% for subcategoria in subcategorias %}
                                                    {% if subcategoria.id.slice(0,2) == categoria.id %}
                                                        <a class="dropdown-item" href="/{{categoria.nombre | slug}}/{{subcategoria.nombre | slug}}">{{ subcategoria.nombre }}</a>
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </li>
                                        {% endfor %}
       
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>