<section class="top">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col text-center p-0">
                <div class="top-logo">
                        <a href="/"><img src="/images/hypebeast.jpg" alt="Logo"></a>
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="col text-center p-0">
                <div class="top-menu">
                    <nav class="navbar navbar-expand-sm navbar-light" data-toggle="affix">
                        <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse text-center text-uppercase" id="navbarsExample11">
                                <ul class="navbar-nav">

                                        {% for categoria in categorias %}
                                        <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="/{{categoria.name | slug}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{ categoria.name }}
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                        {% for subcategoria in subcategorias %}
                                                        {% if subcategoria.category.name == categoria.name %}
                                                            <li><a class="dropdown-item" href="/{{categoria.name | slug}}/{{subcategoria.name | slug}}">{{ subcategoria.name }}</a></li>
                                                        {% endif %}
                                                        {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
       
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>