.politica-de-privacidad {
    h2 {
        margin-bottom: 40px;
        margin-top: 60px;
    }
    h3 {
        margin-bottom: 20px;
        margin-top: 50px;
    }
}

.cookies {
    h2 {
        margin-bottom: 40px;
        margin-top: 60px;
    }
    h3 {
        margin-bottom: 20px;
        margin-top: 50px;
    }
}

.aviso-legal {
    h2 {
        margin-bottom: 40px;
        margin-top: 60px;
    }
    h3 {
        margin-bottom: 20px;
        margin-top: 50px;
    }
}