.categorias {
    margin-top: 20px;
    margin-bottom: 60px;
    h3 {
        margin-bottom: 40px;
    }
}
.categorias-intro {
    margin-top: 75px;
    margin-bottom: 20px;

    h1 {
        margin-bottom: 20px;
    }
}
.categoria {
    padding-bottom: 30px;
    padding-top: 20px;
    img {
        width: 100%;
        height: 250px;
        margin-bottom: 15px;
        object-fit: contain;

        &:hover {
            transform: scale(1.1);
            transition: all 500ms ease-out;
            opacity: 0.5;
        }
    }
}
.categoria-footer {
    padding-bottom: 30px;
    padding-top: 20px;
    img {
        width: 100%;
        height: 150px;
        margin-bottom: 15px;
        object-fit: contain;

        &:hover {
            transform: scale(1.1);
            transition: all 500ms ease-out;
            opacity: 0.5;
        }
    }
}
.categorias-n2-intro {
    margin-top: 75px;
    margin-bottom: 20px;

    h1 {
        margin-bottom: 20px;
    }
}
.categorias-n2 {
    margin-top: 20px;
    margin-bottom: 60px;
    img {
        width: 250px;
        height: 250px;
        object-fit: contain;
        &:hover {
            transform: scale(1.1);
            transition: all 500ms ease-out;
            opacity: 0.5;
        }
    }
}
.subcategoria {
    padding-bottom: 30px;
    padding-top: 20px;
    img {
        width: 100%;
        height: 250px;
        margin-bottom: 15px;

        object-fit: contain;
    }
}
.texto-seo {
    margin-top: 20px;
    margin-bottom: 50px;


    h2 {
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 60px;
    }
}
.marcoFoto {
    overflow: hidden; /*esta propiedad evita que la imagen ocupe mas espacio que su contenedor*/
    transition: all .4s ease;
    height: 250px;
    width: 250px;
    overflow: hidden;
}
 
.marcoFoto img:hover {
    transform:scale(1.5); /*cuando nos posicionamos sobre la imagen con esta propiedad aumentamos su escala y ademas la giramos*/
    opacity:0.6;
}
@media only screen and (min-width: 992px) {
    .texto{
        margin-left: 20%;
        margin-right: 20%;
                    }
   }
   @media only screen and (min-width: 1440px) {
    .texto{
        margin-left: 20%;
        margin-right: 20%;
                    }
   }