.footer {
    margin-top: 30px;
    background-color: gray;
    padding-top: 25px;
    padding-bottom: 25px;

    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        color:red;
    }
}