.footer {
    margin-top: 30px;
    background-color: gray;
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        color:rgb(94, 91, 91);
    }
}
.avisos {
    padding-top: 10px;
    padding-bottom: 10px;
}
.copyright {
    padding-bottom: 10px;
}