.top {
    @media only screen and (max-width: 425px) {
        img {
        width: 100%;
            }
        }
    }


.top-menu{
    background-color: #C9C9C9;
    .navbar-nav .nav-link{
        color: purple;
    }
}
.top-logo {
    background: #FCBAD5;
}
