.top {
    @media only screen and (max-width: 425px) {
        img {
        width: 100%;
            }
        }
    }


.top-menu{
    border-bottom: solid;
    border-bottom-width: thin;
}
.top-logo {
    background: #FCBAD5;
}
